/* 
  .memory-card:hover {
    cursor: pointer;
    border: 4px solid black;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #ffffff67;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  
  #hobby {
    height: 50vh;
    box-sizing: border-box;
    display: flex;
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .hobby {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
   
#hobby * {
  padding: 0;
  margin: 5;
  box-sizing: border-box;
  height: 100px;
}

.memory-game img {
  width: 258px;
  height: 258px;
}




.memory-game {
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  background-color: rgba(168, 167, 167, 0.836);
  width: calc(20% - 10px);
  height: calc(20% - 10px);
  width: 258px;
  height: 258px;
  border: 2px solid black;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
*/









 /* .hobby {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  background-size: contain;
  background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




#hobby * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.body {
  height: 60vh;
  display: flex;
  box-sizing: border-box;
  display: flex;
  background-size: contain;
  background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #ffffff;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ffffff;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}  */






























#hobby {
  background-size: contain;
  background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 80rem;
    padding: 20px;
}



.hobby {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  background-size: contain;
  background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




#hobby * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.body {
  height: 60vh;
  display: flex;
  box-sizing: border-box;
  display: flex;
  background-size: contain;
  background-image: url(https://images.unsplash.com/photo-1560457079-9a6532ccb118?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #ffffff93;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ffffff93;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
} 








