.introduction {
  box-sizing: content-box;
  display: block;
  color: white;
  width: 400px;
  height: 300px;
  top: 10%;
  left: 5%;
  position: absolute;
}

.article_introduction {
  font-size: larger;
  font-weight: 200;
}



.title {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}


#home {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1543271082-cf645d49dcc7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  padding-bottom: 2rem;
}



/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 100%, 50%);
  --second-color: hsl(150, 100%, 38%);
  --title-color: hsl(230, 24%, 12%);
  --text-color: hsl(230, 4%, 60%);
  --gray-color: hsl(230, 24%, 88%);
  --border-color: hsl(230, 4%, 92%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
#home * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#home body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

#home a {
  text-decoration: none;
}

#home img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*=============== CARD ===============*/
.kontener_glowny {
  height: 60vh;
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 7rem;
}

.card_article {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.card_profile, 
.card_mask {
  width: 350px;
  height: 350px;
  background-color: var(--gray-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card_profile img, 
.card_mask img {
  width: 100%;
}

.card_profile {
  border: 4px solid var(--container-color);
  z-index: 5;
  transition: opacity .4s, transform .4s;
}

.card_tooltip {
  position: absolute;
  bottom: -2rem;
  padding-bottom: 5rem;
  transition: opacity .4s, bottom .4s cubic-bezier(.6, -.5, .3, 1.5);
  pointer-events: none;
  opacity: 0;
}

.card_content {
  position: relative;
  width: calc(100vw - 3rem);
  background-color: var(--container-color);
  box-shadow: 0 16px 32px hsla(230, 50%, 20%, .1);
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
}

.card_content::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--container-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.75rem;
  margin-inline: auto;
  border-radius: .25rem;
  rotate: 45deg;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.card_header span {
  color: var(--title-color);
  font-weight: 500;
}

.card_social {
  display: flex;
  column-gap: .75rem;
}

.card_social a {
  font-size: 1.25rem;
  color: var(--title-color);
}

.card_image {
  width: 100%;
  /* height: 100px; */
  position: relative;
  margin: 0 auto 1rem;
}

.card_status {
  width: 12px;
  height: 12px;
  background-color: var(--second-color);
  position: absolute;
  top: .5rem;
  right: .75rem;
  border-radius: 50%;
  border: 2px solid var(--container-color);
}

.card_data {
  text-align: center;
}

.card_name {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: .25rem;
}

.card_profession {
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-bottom: 2rem;
}

.card_button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--first-color);
  font-weight: 500;
}

.card_button i {
  font-size: 1.25rem;
}

/* Scale profile image */
.card_article:hover .card_profile {
  transform: scale(.8);
  opacity: .7;
}

/* Show tooltip card */
.card_article:hover .card_tooltip {
  opacity: 1;
  pointer-events: initial;
  bottom: 20rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 540px) {
  .card_content {
    width: 380px;
    padding-inline: 2rem;
  }
}